.careers {
    .opening-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .opening {
            width: calc(50% - 20px);
            margin: 0 10px 20px;
            background: #fff;
            padding: 20px 30px;
            text-align: left;
            border-radius: 8px;
            position: relative;
            border: 2px solid #0fc3a7;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                border-radius: 8px;
                border: 8px solid transparent;
                transition: all 0.3s linear;
            }

            &:hover {
                &::before {
                    border: 8px solid #0fc3a7;
                }
            }

            h4 {
                color: #021a36;
                font-size: 22px;
            }

            p {
                font-size: 18px;
                color: #021a36;
                font-weight: 300;
                margin-top: 15px;
                margin-bottom: 20px;
                line-height: 1.35;
            }
        }
    }

    @media only screen and (max-width: 767px) {
        .opening-wrapper {
            margin: 0;

            .opening {
                width: 100%;
                margin: 0 0 20px;
            }
        }
    }
}

.form-wrapper {
    text-align: center;
    display: none;

    h3 {
        font-size: 30px;
        font-weight: 400;
        color: #021a36;
        margin-bottom: 15px;
    }

    form {
        width: 60%;
        margin: 0 auto;
    }

    input,select, textarea {
        padding: 0 12px 10px 0;
        border: none;
        border-bottom: 2px solid #021a36;
        font-size: 16px;
        font-weight: 500;
        background: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 100%;
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}

    @media only screen and (max-width: 767px) {
        h3 {
            font-size: 24px;
        }

        form {
            width: 100%;
        }

        input {
            width: 100%;
        }
    }
}