* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    height: inherit;
}

section {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 80px 0;
}

.btn-prim {
    padding: 10px 14px;
    border-radius: 0px;
    appearance: none;
    box-shadow: none;
    border: 1px solid #0fc3a7;
    position: relative;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    a{
        text-decoration: none;
    }

    span {
        color: #fff;
        font-size: 16px;
        position: relative;
        z-index: 1;
    }
}

.btn-prim::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #0fc3a7;
    transition: all 0.2s linear;
    z-index: 0;
}

.btn-prim:hover::before {
    height: 0;
}

.btn-prim:hover {
    border-color: #0fc3a7;
}

.btn-prim:hover span {
    color: #0fc3a7;
}

.btn-prim2 {
    padding: 10px 14px;
    border-radius: 0px;
    appearance: none;
    box-shadow: none;
    border: 1px solid #021a36;
    position: relative;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    a{
        text-decoration: none;
    }
    span {
        color: #fff;
        font-size: 16px;
        position: relative;
        z-index: 1;
    }
}

.btn-prim2::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #021a36;
    transition: all 0.2s linear;
    z-index: 0;
}

.btn-prim2:hover::before {
    height: 0;
}

.btn-prim2:hover {
    border-color: #fff;
}

.btn-prim2:hover span {
    color: #fff;
}

.links {
    text-decoration: none;
    color: #0fc3a7;
    position: relative;
    font-size: 18px;
    font-weight: 600;
}

.links::after {
    content: '';
    position: absolute;
    top: 3px;
    bottom: 0;
    right: -20px;
    margin: auto;
    width: 22px;
    height: 22px;
    background: url('./images/arrow.svg') 100% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 1;
    transition: all 0.3s ease;
}

.links:hover::after {
    transform: translateX(5px);
}

.title {
    text-align: center;

    h2 {
        font-size: 42px;
        color: #fff;
    }

    p {
        font-size: 18px;
        margin-top: 20px;
        line-height: 1.5;
        color: #fff;
    }

    button {
        margin-top: 20px;
    }
}

.content-column {
    background: #01152e;
}
.service {
    background: #021a36;
}
.service img {
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.footer-cta {
    background: url('../images/footer_cta.webp');
}

@media only screen and (max-width: 992px) {
    body {
        padding-top: 120px;
    }

    section {
        padding: 40px 0;
    }

    .title {
        h2 {
            font-size: 30px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .title {
        h2 {
            font-size: 24px;
        }
    }
}